/* margin property*/
$body_value: 10px;
@mixin body($margin-left, $body_value) {
    $margin-left: $body_value;
    $margin-left: $body_value;
}

$div_value: 15;
@mixin div ($div_value) {
    $margin-left: $div_value;
    margin-right: $div_value;
}